{% load static %}
<script src="{% static 'simple_dashboard/vendor/jquery.js' %}"></script>
<script src="{% static 'simple_dashboard/vendor/chart.js' %}"></script>
<script src="{% static 'simple_dashboard/vendor/humanize.js' %}"></script>
<script src="{% static 'simple_dashboard/vendor/moment.js' %}"></script>
<script src="{% static 'simple_dashboard/vendor/chartjs-adapter-moment.js' %}"></script>
{% for signal in active_dashboard_signals %}
	<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-{{ signal.widget_columns }}">
		<div class="mdc-card mdc-typography mdc-typography--body1" style="padding: 16px;">
			{% if signal.configuration.hide_title %}
			{% else %}
				<strong>{{ signal.name }}</strong>
			{% endif %}
			{{ signal.widget_body }}
		</div>
	</div>
{% endfor %}
